SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="16d0992cb7b7e711b7fd553ed4b43ea0", SYMLINK+="BRDC53"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="a0cefc82b6b7e711bf8d4c3ed4b43ea0", SYMLINK+="BRDC17"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="b0fbcd6db3c6e711b07dc6ae16168d3e", SYMLINK+="BRDC15"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="e4ffd3f290c6e711bb47c7ae16168d3e", SYMLINK+="BRDC21"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="2cf71550fa50e811a7ca04f8c2460985", SYMLINK+="BRDC01"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="2c2d8e6e9fc6e711a29fc6ae16168d3e", SYMLINK+="BRDC03"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="8ac65d2bb2b7e711a6784e3ed4b43ea0", SYMLINK+="BRDC05"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="50c3f36db7b7e711be8d553ed4b43ea0", SYMLINK+="BRDC09"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="aef2af969fb7e71185614c3ed4b43ea0", SYMLINK+="BRDC23"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="c0a8a38cb1b7e711a3eb4e3ed4b43ea0", SYMLINK+="BRDC19"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="66aed724b7b7e711b78f553ed4b43ea0", SYMLINK+="BRDC78"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="dc9540e6b1b7e71198144c3ed4b43ea0", SYMLINK+="BRDC07"
